@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Bricolage Grotesque', sans-serif;
}
